body {
    background-color: rgb(211, 211, 211);
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}

#index-list {
    margin:5px;
    padding:5px;
    text-align: center;
    list-style-type: none;
}
li {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
 a:link {
     text-decoration: none;
     color: brown;

 }
 a:hover {
     text-decoration: solid;
     color:red;
 }
 a:visited {
     text-decoration: none;
     color: brown;

 }